<!DOCTYPE html>
<%- include('partials/header'); -%>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/styles/login.css" />
</head>
<%- include('partials/nav_home'); -%>
<body>
  <div class="container">
    <br />
    <div class="card">
      <div class="card-body">
        <h1>Login</h1>
        <br />
        <div class="form">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <br>
          <button type="submit" class="btn btn-outline-primary">Submit</button>
          <br>
          <a href="/register">Sign Up</a>
        </div>
      </div>
    </div>
